*.pyc
*.swp
env
*.egg-info
build
dist
scratch.py

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spyder
.spyproject

*.xml

# jupyter
.ipynb_checkpoints

# VSCode
.vscode
*.cpp

# Pytest and coeverage stuff
.benchmarks
.pytest_cache
.coverage*
htmlcov
sitecustomize.py

# Doc
docs/_build
docs/site.webmanifest